.mainContainer {
    background: rgb(183, 218, 237);
    background: linear-gradient(180deg, rgba(183, 218, 237, 1) 33%, rgba(255, 255, 255, 1) 100%);
}

.transparent-table {
    background-color: transparent !important;
    font-family: DM Sans;
    font-size: 14px;
}

.transparent-table th,
.transparent-table td {
    background-color: transparent !important;
}